.body_btn {
	background-color: aquamarine;
}
.component_body {
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: lightgoldenrodyellow;
	width: 100%;
}
.component_body_images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5%;
}
.component_body_title {
	align-self: center;
}
img {
	width: 128px;
	height: 128px;
}
